<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{eroormessage}}
            <img src="/img/800x600_Wallpaper_Blue_Sky.png">
        </div>        
        {{>footer}}
    </body>
</html>